* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

.ce-chat-feed-container {
  background-color: rgb(237, 248, 248) !important;
}

.ce-chat-title-container {
  background-color: rgb(240, 100, 40) !important;
  border-radius: 10px;
}

.ce-chat-title-text {
  color: black;
  text-transform: uppercase;
}

.ce-chat-list {
  background-color: rgb(10, 100, 200) !important;
}

.ce-chats-container {
  background-color: rgb(10, 100, 200) !important;
}

.ce-active-chat-card {
  background-color: rgb(240, 100, 40) !important;
  border-radius: 30px !important;
  /* border: solid 10px black !important; */
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
}

.ce-primary-button {
  background-color: rgb(240, 100, 40) !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: rgb(10, 100, 200) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid rgb(10, 100, 200) !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid rgb(10, 100, 200) !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}
